<!-- Bootstrapped User -->
<script type="text/javascript">
  <% if logged_in? %>
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
  <% end %>
</script>

<!-- Cloudinary Upload Preset -->
<script type="text/javascript">
  window.cloudinaryOptions = {
    upload_preset: '<%= ENV['UPLOAD_PRESET'] %>'
  }
</script>

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Julius+Sans+One" rel="stylesheet">

<main id="root"></main>
