.edit-profile {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.bio-container {
  text-align: left;
  width: 73%;

  input[type="text"] {
    background: white;
    color: black;
    width: 100%;
  }
}
.edit-profile-container {
  height: 100%;
}

.edit-profile-buttons {
  .profile-button-container {
    text-align: center;

    .file-drop {
      padding-right: 0;

      button {
        width: 100%;
        padding: 20px;
      }

      button:focus {
        outline: none
      }
    }
  }

  #edit-profile-submit {
    width: 100%;
    padding: 20px;
  }
}
