
.grid-item {

  p {
    position: absolute;
    visibility: hidden;
    bottom:30%;
    padding: 2px 0px;
    text-align: center;
    left: 0px;
    right: 0px;
    font-size: 4vmin;
    opacity: 0;
  }


}

#gallery {
  height: 100%;
}

#gallery a:hover {
  color: black;
  cursor: pointer;
  opacity: 0.6;
  transition: all .20s ease-in-out;
}

.grid-item:hover p{
  visibility: visible;
  opacity: 1;
  transition: all .20s ease-in-out;

}

.grid-item-modal-image {
  max-height: 632px;
  max-width: 1000px;
}


.copyright {
  color: white;
  font-size: 15px;
  text-align: center;
  margin-bottom: 50px;
}

.copyright a:hover {
  color: purple;
}
