.user-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: 13vmin;

  margin-top: 100px;
  font-size: 2.2vmin;
  width: 100%;
}

.user-header-info {
  width: 40%
}

.user-header-username-follow {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
  h1 {
    font-size: 3.7vmin
  }
}


.user-header a {
  margin-right: 50px;
}
.user-header-avatar {
  max-width: 200px;
  max-height: 200px;
}

.user-header-stats {
  display: flex;
  border: 1px solid grey;
  margin: 20px 0;
  li {
    font-size: 80%;
    flex: 1;
    text-align: center;
    padding: 10px 20px;
  }

  li:first-child {
    border-right: 1px solid grey;
  }
  li:last-child {
    border-left: 1px solid grey;
  }
}
