html, .main-app, main {
  height: 100%;
  background: black;
  font-family: 'Julius Sans One', sans-serif;
}

body {
  height: 100%;
  font-weight: 180;
  font-family: 'Julius Sans One', sans-serif;
}
