.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  width: 100%;
  padding: 35px 40px 15px 40px;
  position: fixed;
  top: 0;
  background: black;
  z-index: 1;

  div {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  i, .user-img-url {
    padding: 8px;
    margin: 0 7px 0 7px;
  }

  .logo {
    margin-right: 7px;
    color: white;
  }

  .left {
    justify-content: flex-start;
  }

  .left:hover {
    cursor: pointer;
  }

  .right h1 {

  }
}



i:hover, .user-img-url:hover {
  background-color: rgba(255,255,255,0.2);
  cursor: pointer;
}

.user-img-url {
  width: 35px;
  position: relative;
  top: -2px;
}

.logo {
  width: 5%;
}
