.image-grid {
  margin: 40px;
}

.grid-item {
  width: 31.33%;
  float: left;
  margin: 10px;
  position: relative;

  img {
    display: block;
    width: 100.5%
  }

  p {
    position: absolute;
    visibility: hidden;
    bottom:30%;
    padding: 2px 0px;
    text-align: center;
    left: 0px;
    right: 0px;
    font-size: 4vmin;
    opacity: 0;
  }


}

.grid-item:hover {
  color: black;
  cursor: pointer;
  opacity: 0.6;
  transition: all .20s ease-in-out;
}

.grid-item:hover p{
  visibility: visible;
  opacity: 1;
  transition: all .20s ease-in-out;

}


.grid-item-image {
  width: 100%;
}
